/* COLORS
============================================================*/
$white: #fff;
$black: #000;

$bgBlue: #3f9ad4;
$bgBlue2: #256f9f;
$bgGray: #535751;
$placeholder: #cabfbf;
$btnBordo: #e75440;
$btnBordo2: #b02411;

$bgBan2: #e9ebec;


$red: #ea0101;
$orangered: orangered;
$orange: orange;
$gold: gold;
$greenLight: #79A500;
$green: #608202;
$blueLight: #00ffde;
$blue: #01ab95;
$blueSea: #1ba9e4;
$blue2: #1638cc;
$hotpink: hotpink;
$deeppink: deeppink;
$mediumvioletred: mediumvioletred;
$purple: purple;