/* Zurab */
$orange: #f96854;

a:focus{
	outline: none;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

strong{
	font-weight: 400;
}

body{
	background: #fff;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 14px;
	// line-height: 1.2;
}

p{
	margin: 15px 0;
	font-size: 16px;
	line-height: 1.2;
}

h1,
h2,
h3,
h4 {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

.title{
	margin: 34px 0;
	font-size: 46px;
	line-height: 1.2;
	text-align: center;
	color: #535751;
}

/* services
==================================================*/
.services{
	overflow: hidden;
	margin: 105px 0 80px;
}

	.services__item{
		margin-bottom: 30px;
	}

		.services__img{

		}

		.services__title{
			font-size: 36px;
			line-height: 1.4;
		}

		.services__title--lstCh{
			font-size: 30px;
		}

		.services__characteristics{
			margin-left: 22px;
			margin-top: 30px;
			list-style-image: url('../images/icons/chekmark.png');

			li{
				padding: 5px 0;
			}
		}

/* correct
==================================================*/
.correct{
	overflow: hidden;
}
	.correct___item{
		margin: 15px 0;
	}

		.correct__time{
			margin-top: 15px;
			font-family: 'Roboto Condensed', sans-serif;
			font-size: 36px;
			line-height: 1.2;
			text-align: center;
			span{
				display: block;
				font-size: 18px;
				line-height: 1.2;
			}
		}

		.correct__desc{
			margin-top: -5px;
			margin-bottom: 35px;
			p{
				margin: 5px 0;
				font-size: 16px;
			}
		}

		.more{
			font-size: 16px;
			line-height: 1.2;
			text-decoration: underline;
		}

/* CORNER BLOCK
===================================================*/
.corner{
	overflow: hidden;
}

	.corner__item{
		margin-bottom: 60px;
	}

		.corner__link{
			overflow: hidden;
			position: relative;
			display: block;
			margin-bottom: 30px;

							.corner__link--hover {
				    background: #535751;
				    display: block;
				    width: 100%;
				    height: 100%;
				    opacity: 0.6;
				    left: 0;
				    overflow: hidden;
				    position: absolute;
				    top: 0;
				    z-index: 22;
				}


			.corner__zoom{
				display: none;
				position: absolute;
				top: 0;
				left: 0;
				width: 170px;
				height: 48px;
				font-size: 18px;
				line-height: 48px;
				background: #4198d2;
				color: #fff;
				border-radius: 3px;
				text-align: center;
			}

			img {
			    height: auto;
			    width: 100%;
			}

			&:hover{

				.corner__zoom{
					top: 50%;
					left: 50%;
					margin-top: -24px;
					margin-left: -85px;
					display: block;
					z-index: 33;
				}
			}

		}

/* error
====================================================*/
.error{
	overflow: hidden;
	position: relative;
}

	.error__desc{
		overflow: hidden;
		background: $orange;
		margin-bottom: 30px;
		padding: 30px;
		border-radius: 3px;
		columns: #fff;
	}

	.error__close{
		position: absolute;
		top: 30px;
		right: 45px;
		color: #fff;
	}

	.error__title{
		font-size: 24px;line-height: 1.2;
		color: #fff;
	}

	.error__cnt{
		margin: 5px 0 0;
		font-size: 14px;
		line-height: 1.2;
		color: #fff;
		text-transform: uppercase;
	}
	address{
		color: #fff;
	}

	.error__close:hover{
		cursor: pointer;
	}

	.hiddenError{
		display: none;
	}


/* reviews
===================================================*/
.reviews{
}

	.reviews__title{

	}

	.reviews__item{
		margin-bottom: 30px;
	}

		.review__persone__name{
			margin: 20px 0 0 0;
			font-size: 24px;
			line-height: 1.2;
		}

		.review__persone__comment{
			margin: 5px 0;
			font-size: 16px;
			line-height: 1.2;
		}


/* стилизация телефона
====================================*/
.phone {
  padding-left: 50px;
}
.user_phone {
  position: relative;
}
.user_phone:before {
  content: "+38";
  display: block;
  height: 40px;
  color: #363636;
  position: absolute;
  top: 37px;
  left: 15px;
  font-size: 18px;
}

.phone::-webkit-input-placeholder {font-family: 'Roboto';font-size: 18px; font-style: normal;}
.phone::-moz-placeholder          {font-family: 'Roboto';font-size: 18px; font-style: normal;}
.phone:-moz-placeholder           {font-family: 'Roboto';font-size: 18px; font-style: normal;}
.phone:-ms-input-placeholder      {font-family: 'Roboto';font-size: 18px; font-style: normal;}

.form__name::-webkit-input-placeholder {font-family: 'Roboto';font-size: 14px; font-style: italic;font-weight: 300;}
.form__name::-moz-placeholder          {font-family: 'Roboto';font-size: 14px; font-style: italic;font-weight: 300;}
.form__name:-moz-placeholder           {font-family: 'Roboto';font-size: 14px; font-style: italic;font-weight: 300;}
.form__name:-ms-input-placeholder      {font-family: 'Roboto';font-size: 14px; font-style: italic;font-weight: 300;}



/* ORDER
============================================*/
.order{
	position: relative;
	background: #e9ebec;
	margin: 120px auto;
	width: 100%;
	height: 100%;

	display: flex; /* для IE10+, для ряда браузеров нужны префиксы */
	height: 679;  /* можно заменить на min-height */
}

.zurab{

}
.order__wrap {

  margin: auto;
  background: #9F9;
}


.order__wrap {
    background: #fff none repeat scroll 0 0;
    display: table;
    height: 657px;
    overflow: hidden;
    padding: 60px 0;
    width: 100%;

	&:after{
    background: transparent url("../images/zub-top.png") repeat-x scroll 0 0;
    content: "";
    height: 23px;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 3;
	}

	&:before{
    background: transparent url("../images/zub-bot.png") repeat-x scroll 0 0;
    bottom: 100%;
    content: "";
    height: 23px;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 3;
	}
}

	.order__title{
		font-size: 40px;
		line-height: 1;
		font-weight: 900;
		color: #4098d2;
	}

	.order__sub-title{
		font-size: 14px;
		color: #535751;
		margin: 0;
	}

	.order__cnt{
		overflow: hidden;
		margin-top: 50px;
		padding: 40px 0;
		border: 1px solid #d7d7d6;
		border-radius: 3px; 

		h4{
			font-size: 24px;
			line-height: 1.2;
		}

		p{
			font-size: 18px;
			line-height: 1.2;
		}
	}

	.uCan{
		font-style: italic;
		font-size: 14px;
		line-height: 1.2;
		text-align: center;
	}

	.buttons{
		margin-bottom: 20px;
		text-align: center;
	}

		.backHome{
			background: #000;
			display: block;
			margin: 0 auto;

			&:hover{
				color: #fff;
				text-decoration: none;
			}
		}

	.order__call-back{
		font-size: 24px;
		line-height: 1;
		text-align: center;
		margin: 5px 0;
	}	
	.order__phone-numbers{
		font-size: 30px;
		line-height: 1;
		text-align: center;
		margin: 5px 0;
	}
