/* MIXINS
============================================================*/
@mixin box-sizing($x) {
    box-sizing: $x;
	-moz-box-sizing: $x;
	-webkit-box-sizing: $x;
}

@mixin bgGradient($side, $startColor, $endColor) {
    background-color: $startColor;
    background-image: -webkit-linear-gradient($side, $startColor, $endColor);
    background-image: -moz-linear-gradient($side, $startColor, $endColor);
    background-image: -ms-linear-gradient($side, $startColor, $endColor);
    background-image: linear-gradient($side, $startColor, $endColor);
}

@mixin bgGradient-romb($side, $Color1_1, $Color1_2, $Color1_3, $Color1_4, $Color1_5, $side2, $Color2_1, $Color2_2, $Color2_3, $Color2_4, $Color2_5) {
    
    background-image: -webkit-linear-gradient($side, $Color1_1, $Color1_2, $Color1_3, $Color1_4, $Color1_5), -webkit-linear-gradient($side2, $Color2_1, $Color2_2, $Color2_3, $Color2_4, $Color2_5);
    background-image: -moz-linear-gradient($side, $Color1_1, $Color1_2, $Color1_3, $Color1_4, $Color1_5), -moz-linear-gradient($side2, $Color2_1, $Color2_2, $Color2_3, $Color2_4, $Color2_5);
    background-image: -ms-linear-gradient($side, $Color1_1, $Color1_2, $Color1_3, $Color1_4, $Color1_5), -ms-linear-gradient($side2, $Color2_1, $Color2_2, $Color2_3, $Color2_4, $Color2_5);
    background-image: linear-gradient($side, $Color1_1, $Color1_2, $Color1_3, $Color1_4, $Color1_5), linear-gradient($side2, $Color2_1, $Color2_2, $Color2_3, $Color2_4, $Color2_5);
}

@mixin bgGradientRadio ($side, $form, $startColor, $endColor) {
    background-color: $startColor;
    background: -webkit-radial-gradient($side, $form, $startColor, $endColor);
    background: -moz-radial-gradient($side, $form, $startColor, $endColor);
    background: -ms-radial-gradient($side, $form, $startColor, $endColor);
    background: radial-gradient($side, $form, $startColor, $endColor);
}

@mixin bgSize ($bgSize) {
    -webkit-background-size: $bgSize;
	-moz-background-size: $bgSize;
	background-size: $bgSize;
}

@mixin borderRadius ($radius) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin flexbox {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
}

@mixin flexFlow ($flow) {
    -webkit-flex-flow: $flow;
    -ms-flex-flow: $flow;
    flex-flow: $flow;
}

@mixin flex ($grow-shrink-basis) {
    -webkit-flex: $grow-shrink-basis;
    -ms-flex: $grow-shrink-basis;
    flex: $grow-shrink-basis;
}

@mixin transition ($transition) {
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    transition: $transition;
}

@mixin transition-delay ($transition-delay) {
    -webkit-transition: $transition-delay;
    -moz-transition: $transition-delay;
    transition: $transition-delay;
}

@mixin columns ($column-count, $column-gap) {
    -moz-column-count: $column-count;
    -moz-column-gap: $column-gap;
    -webkit-column-count: $column-count;
    -webkit-column-gap: $column-gap;
    column-count: $column-count;
    column-gap: $column-gap;
}

@mixin appearance ($x) {
    -webkit-appearance: $x;
    -moz-appearance: $x;
    -ms-appearance: $x;
    appearance: $x;
}

$browser-context: 16; // Default
@function rem($pixels, $context: $browser-context) {
    @return #{$pixels/$context}rem;
}