/* COLORS
============================================================*/
/* MIXINS
============================================================*/
/* RESET INPUTS
============================================================*/
::-webkit-input-placeholder {
  opacity: 1; }

::-moz-placeholder {
  opacity: 1; }

/* Firefox 19+ */
:-moz-placeholder {
  opacity: 1; }

/* Firefox 18- */
:-ms-input-placeholder {
  opacity: 1; }

::-webkit-input-placeholder {
  color: #cabfbf;
  font-size: 143x;
  font-style: italic; }

::-moz-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic; }

/* Firefox 19+ */
:-moz-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic; }

/* Firefox 18- */
:-ms-input-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic; }

[type="search"], [type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none; }

[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  display: none; }

[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none; }

[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none; }

input, textarea, button, select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  border: none;
  display: block;
  color: #535751;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
  padding: 14px 15px;
  width: 100%; }

[type="submit"], [type="reset"], .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

[type="submit"], [type="reset"], button, .btn {
  background-color: #e75440;
  background-image: -webkit-linear-gradient(top, #e75440, #b02411);
  background-image: -moz-linear-gradient(top, #e75440, #b02411);
  background-image: -ms-linear-gradient(top, #e75440, #b02411);
  background-image: linear-gradient(top, #e75440, #b02411);
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 15px; }
  [type="submit"]:hover, [type="reset"]:hover, button:hover, .btn:hover {
    background-color: #fe5c46;
    background-image: -webkit-linear-gradient(top, #fe5c46, #c22813);
    background-image: -moz-linear-gradient(top, #fe5c46, #c22813);
    background-image: -ms-linear-gradient(top, #fe5c46, #c22813);
    background-image: linear-gradient(top, #fe5c46, #c22813);
    cursor: pointer; }

button, .btn {
  display: inline-block; }

.select {
  background: #fff;
  display: block;
  margin-bottom: 15px;
  position: relative;
  z-index: 2; }
  .select::before, .select::after {
    content: '';
    position: absolute;
    z-index: -1; }
  .select::before {
    background: rgba(83, 87, 81, 0.7);
    width: 1px;
    height: 100%;
    top: 0;
    right: 37px; }
  .select::after {
    border-width: 7px 5px 0 5px;
    border-style: solid;
    border-color: rgba(83, 87, 81, 0.7) transparent;
    width: 0;
    height: 0;
    top: 50%;
    right: 14px;
    margin-top: -3px; }
  .select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: none;
    border: 0px none;
    cursor: pointer;
    margin-bottom: 0;
    padding: 14px 45px 14px 15px; }
    .select select::-ms-expand {
      display: none; }
    .select select option {
      background: none;
      border: 0px none;
      width: 100%; }

textarea {
  resize: none; }

label {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px; }

/* END RESET INPUTS
============================================================*/
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300; }

.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap; }

.footnote {
  font-size: 11px; }

form {
  background: #535751;
  padding: 10px 30px; }
  form [type="submit"] {
    margin: 15px 0; }

th {
  text-align: left;
  font-size: 14px;
  font-weight: 300; }

th, td {
  border-bottom: 1px solid rgba(83, 87, 81, 0.12);
  color: #535751;
  padding: 8px 15px; }

td {
  font-size: 18px;
  font-weight: 400; }

tr:nth-child(2n) {
  background: rgba(83, 87, 81, 0.02); }

.banner-1, .banner-2, .banner-3, footer {
  background: #3f9ad4 url("../images/ban-1.png") center 15px no-repeat;
  display: table;
  width: 100%;
  padding-top: 1px;
  position: relative; }
  .banner-1::before, .banner-2::before, .banner-3::before, footer::before, .banner-1::after, .banner-2::after, .banner-3::after, footer::after {
    background: url("../images/zub-bot.png") 0 0 repeat-x;
    content: '';
    width: 100%;
    height: 23px;
    position: absolute;
    left: 0;
    z-index: 3; }
  .banner-1::before, .banner-2::before, .banner-3::before, footer::before {
    background: url("../images/zub-top.png") 0 100% repeat-x;
    top: 0;
    display: none; }
  .banner-1::after, .banner-2::after, .banner-3::after, footer::after {
    bottom: 0; }
  .banner-1 .flexbox, .banner-2 .flexbox, .banner-3 .flexbox, footer .flexbox {
    justify-content: flex-end; }
  .banner-1 h1, .banner-2 h1, .banner-3 h1, footer h1 {
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
    margin-bottom: 10px;
    text-shadow: 0 0 1px #256f9f;
    text-align: center; }
    .banner-1 h1 span, .banner-2 h1 span, .banner-3 h1 span, footer h1 span {
      display: block;
      font-size: 30px; }
  .banner-1 h2, .banner-2 h2, .banner-3 h2, footer h2 {
    font-size: 46px;
    font-weight: 300;
    line-height: 1;
    text-shadow: 0 0 1px #256f9f; }
  .banner-1 h3, .banner-2 h3, .banner-3 h3, footer h3 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1; }
  .banner-1 [class*="col-"], .banner-2 [class*="col-"], .banner-3 [class*="col-"], footer [class*="col-"] {
    position: relative;
    float: none; }
  .banner-1 form, .banner-2 form, .banner-3 form, footer form {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
    z-index: 4;
    padding: 30px;
    position: relative;
    top: 39px; }
    .banner-1 form .footnote, .banner-2 form .footnote, .banner-3 form .footnote, footer form .footnote {
      color: #fff; }
  .banner-1 .man-with-washing, .banner-2 .man-with-washing, .banner-3 .man-with-washing, footer .man-with-washing {
    position: relative; }
    .banner-1 .man-with-washing .z-top, .banner-2 .man-with-washing .z-top, .banner-3 .man-with-washing .z-top, footer .man-with-washing .z-top {
      position: absolute;
      bottom: 2px;
      right: -165px;
      z-index: 2; }
    .banner-1 .man-with-washing .z-bot, .banner-2 .man-with-washing .z-bot, .banner-3 .man-with-washing .z-bot, footer .man-with-washing .z-bot {
      position: absolute;
      bottom: 2px;
      left: 0;
      z-index: 1; }
  .banner-1 .arrow-block, .banner-2 .arrow-block, .banner-3 .arrow-block, footer .arrow-block {
    background: #fff;
    color: #535751;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 0.98;
    height: 106px;
    margin-top: 58px;
    margin-left: -7px;
    margin-bottom: 30px;
    padding: 15px 15px 15px 5px;
    position: relative; }
    .banner-1 .arrow-block::before, .banner-2 .arrow-block::before, .banner-3 .arrow-block::before, footer .arrow-block::before {
      border-top: 2.249em solid transparent;
      border-right: 1.5em solid #fff;
      border-bottom: 2.249em solid transparent;
      width: 0;
      height: 0;
      content: '';
      position: absolute;
      top: 0;
      right: 100%;
      z-index: 5; }
    .banner-1 .arrow-block span, .banner-2 .arrow-block span, .banner-3 .arrow-block span, footer .arrow-block span {
      display: block;
      color: #e75440;
      font-size: 30px;
      text-transform: uppercase; }
      .banner-1 .arrow-block span i, .banner-2 .arrow-block span i, .banner-3 .arrow-block span i, footer .arrow-block span i {
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        background: #535751;
        display: inline-block;
        font-size: 24px;
        padding: 12px;
        position: absolute;
        right: 22px;
        top: -19px; }
  .banner-1 .info-block, .banner-2 .info-block, .banner-3 .info-block, footer .info-block {
    color: #fff;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    text-shadow: 0 0 1px #256f9f; }
    .banner-1 .info-block .tel, .banner-2 .info-block .tel, .banner-3 .info-block .tel, footer .info-block .tel {
      display: block;
      font-size: 40px; }
  .banner-1 .light, .banner-2 .light, .banner-3 .light, footer .light, .banner-1 .bold, .banner-2 .bold, .banner-3 .bold, footer .bold {
    color: #535751; }
  .banner-1 .light, .banner-2 .light, .banner-3 .light, footer .light {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.18; }
  .banner-1 .bold, .banner-2 .bold, .banner-3 .bold, footer .bold {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.12; }

.banner-2 {
  background: #e9ebec url("../images/ban-2.png") 0 15px no-repeat;
  margin: 82px 0 0;
  padding: 1px 0 12px; }
  .banner-2::before {
    top: 0;
    display: block; }
  .banner-2 .flexbox {
    align-items: center; }
  .banner-2 form {
    top: -30px; }
  .banner-2 h3 {
    color: #e75440;
    margin-top: 20px; }
  .banner-2 .light {
    margin-bottom: 40px; }

.banner-3 {
  background: #3f9ad4 url("../images/ban-3.png") center 15px repeat;
  color: #fff;
  text-align: center;
  padding: 24px 0 70px; }
  .banner-3::before {
    top: 0;
    display: block; }
  .banner-3 .flexbox {
    justify-content: center; }
  .banner-3 h3 {
    text-shadow: 0 0 1px #256f9f; }
  .banner-3 .bold {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2; }
    .banner-3 .bold span {
      display: block;
      font-family: 'Roboto Condensed', sans-serif;
      font-size: 36px;
      font-weight: 400;
      text-shadow: 0 0 1px #256f9f; }
  .banner-3 .footnote.sub {
    font-size: 14px; }
  .banner-3 .footnote {
    font-size: 12px; }

footer {
  background: #535751 url("../images/ban-footer.png") center 15px repeat;
  color: #fff;
  padding: 95px 0 1px; }
  footer::before {
    top: 0;
    display: block; }
  footer::after {
    display: none; }
  footer .flexbox {
    align-items: center; }
  footer form {
    box-shadow: 0 0 5px transparent;
    top: 0; }
  footer h3 span {
    color: #e75440;
    font-size: 60px;
    line-height: 1.2; }
  footer .light, footer .bold {
    color: #fff; }
  footer .fa {
    font-size: 24px; }
  footer [class*="col-"]:last-child {
    font-size: 16px;
    font-weight: 300; }
    footer [class*="col-"]:last-child.padd {
      padding-left: 7%; }
    footer [class*="col-"]:last-child .links {
      -moz-column-count: 2;
      -moz-column-gap: 15px;
      -webkit-column-count: 2;
      -webkit-column-gap: 15px;
      column-count: 2;
      column-gap: 15px; }
      footer [class*="col-"]:last-child .links a {
        display: block;
        color: #fff;
        text-decoration: underline; }
        footer [class*="col-"]:last-child .links a:hover {
          color: rgba(255, 255, 255, 0.7); }
  footer .copyright {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    justify-content: space-between;
    font-size: 12px;
    margin: 30px 0 10px; }
    footer .copyright a {
      color: #3f9ad4;
      text-decoration: underline; }
      footer .copyright a:hover {
        color: rgba(82, 200, 255, 0.7); }

.price-table {
  display: table;
  width: 100%;
  padding: 25px 0 50px; }
  .price-table h2 {
    color: #535751;
    font-size: 46px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    margin-bottom: 22px; }
    .price-table h2 + p {
      color: #3f9ad4;
      font-size: 18px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 42px; }
  .price-table table {
    width: 100%;
    max-width: 970px;
    margin-left: auto;
    margin-right: auto; }
    .price-table table a {
      color: #3f9ad4;
      font-size: 14px;
      weight: 300;
      white-space: nowrap; }
      .price-table table a:hover {
        color: #3580b1;
        text-decoration: none; }
      .price-table table a i {
        font-size: 18px;
        margin-right: 7px; }
  .price-table .free {
    color: #e75440; }
  .price-table a.free:hover {
    color: #c14635; }

.logos {
  display: table;
  width: 100%;
  padding: 12px 0 96px; }
  .logos h2 {
    color: #535751;
    font-size: 46px;
    font-weight: 300;
    line-height: 1;
    text-align: center;
    margin-bottom: 42px; }
    .logos h2 + p {
      color: #3f9ad4;
      font-size: 18px;
      text-align: center;
      margin-top: 0;
      margin-bottom: 42px; }
  .logos .list-logos {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center; }
    .logos .list-logos span {
      padding: 10px;
      text-align: center;
      width: 16.666%; }
      .logos .list-logos span a {
        display: inline-block; }
      .logos .list-logos span img {
        max-width: 100%;
        width: 100%; }

.modal-popup {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto; }
  .modal-popup .container {
    height: 100%;
    padding-top: 15px;
    padding-bottom: 15px; }
  .modal-popup .flexbox {
    justify-content: center;
    align-items: center;
    height: 100%; }
  .modal-popup h4 {
    color: #fff;
    font-size: 30px;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 15px; }
    .modal-popup h4 span {
      display: block;
      font-size: 18px;
      padding-right: 15px;
      position: relative; }
      .modal-popup h4 span .fa-close {
        color: #fff;
        font-size: 24px;
        position: absolute;
        right: 0;
        bottom: -5px; }
        .modal-popup h4 span .fa-close:hover {
          opacity: 0.7;
          text-decoration: none; }
  .modal-popup form {
    background: #4198d2;
    /*[type="submit"] {
        margin: 15px 0;
    }*/ }
    .modal-popup form .footnote {
      color: #fff;
      font-size: 12px; }

.space {
  height: 110px;
  background: violet; }

/*--- $screen-large 1280px ---*/
/*--- $screen-small 1024px ---*/
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .banner-2 .flexbox {
    justify-content: center; }
    .banner-2 .flexbox [class*="col-"]:first-child {
      text-align: center; }
  .banner-2 form {
    top: 0; } }
@media screen and (max-width: 1199px) {
  .banner-1 .flexbox .man-with-washing, .banner-2 .flexbox .man-with-washing, .banner-3 .flexbox .man-with-washing, footer .flexbox .man-with-washing {
    display: none; }
  .banner-1 .flexbox .order, .banner-2 .flexbox .order, .banner-3 .flexbox .order, footer .flexbox .order {
    order: -1; }
    .banner-1 .flexbox .order .arrow-block, .banner-2 .flexbox .order .arrow-block, .banner-3 .flexbox .order .arrow-block, footer .flexbox .order .arrow-block {
      padding: 15px 5px 15px 15px;
      height: auto; }
      .banner-1 .flexbox .order .arrow-block::before, .banner-2 .flexbox .order .arrow-block::before, .banner-3 .flexbox .order .arrow-block::before, footer .flexbox .order .arrow-block::before {
        border-top: 2.24em solid transparent;
        border-left: 1.5em solid #fff;
        border-right: 0;
        border-bottom: 2.24em solid transparent;
        right: auto;
        left: 100%; }
      .banner-1 .flexbox .order .arrow-block i, .banner-2 .flexbox .order .arrow-block i, .banner-3 .flexbox .order .arrow-block i, footer .flexbox .order .arrow-block i {
        display: none !important; }

  .banner-2 .flexbox [class*="col-"]:last-child {
    display: none; }

  footer .flexbox [class*="col-"]:first-child {
    padding-left: 4.5%; }
  footer .copyright {
    padding-left: 30px;
    padding-right: 30px; } }
/*--- $tablet-large 768px ---*/
@media screen and (min-width: 768px) and (max-width: 991px) {
  .list-logos span {
    width: 25% !important; } }
@media screen and (max-width: 991px) {
  .banner-1 h1, .banner-2 h1, .banner-3 h1, footer h1 {
    font-size: 3.5rem; }
    .banner-1 h1 span, .banner-2 h1 span, .banner-3 h1 span, footer h1 span {
      font-size: 2.1rem; }
  .banner-1 h2, .banner-2 h2, .banner-3 h2, footer h2 {
    font-size: 3.22rem; }
  .banner-1 h3, .banner-2 h3, .banner-3 h3, footer h3 {
    font-size: 2.52rem; }
  .banner-1 .arrow-block, .banner-2 .arrow-block, .banner-3 .arrow-block, footer .arrow-block {
    font-size: 1.8rem;
    margin-top: 29px; }
    .banner-1 .arrow-block::before, .banner-2 .arrow-block::before, .banner-3 .arrow-block::before, footer .arrow-block::before {
      border-top: 2.45em solid transparent !important;
      border-left: 1.5em solid #fff;
      border-right: 0;
      border-bottom: 2.45em solid transparent !important; }
    .banner-1 .arrow-block span, .banner-2 .arrow-block span, .banner-3 .arrow-block span, footer .arrow-block span {
      font-size: 2.25rem; }
  .banner-1 .info-block, .banner-2 .info-block, .banner-3 .info-block, footer .info-block {
    font-size: 1.8rem; }
  .banner-1 label, .banner-2 label, .banner-3 label, footer label {
    font-size: 1.45125rem; }

  .banner-2 .flexbox {
    justify-content: center; }
    .banner-2 .flexbox [class*="col-"]:first-child {
      text-align: center; }
  .banner-2 form {
    top: 0; }
  .banner-2 h2 {
    font-size: 3.22rem; }
  .banner-2 h3 {
    font-size: 2.52rem;
    margin-top: 50px; }

  .banner-3 h2, .price-table h2, .logos h2, footer h2 {
    font-size: 3.22rem; }
  .banner-3 h3, .price-table h3, .logos h3, footer h3 {
    font-size: 2.52rem; }
    .banner-3 h3 span, .price-table h3 span, .logos h3 span, footer h3 span {
      display: block;
      font-size: 4.2rem; }
  .banner-3 .bold span, .price-table .bold span, .logos .bold span, footer .bold span {
    font-size: 2.925rem; }

  .modal-popup h4 {
    font-size: 2.1rem; }
    .modal-popup h4 span {
      font-size: 1.45125rem; }
  .modal-popup label {
    font-size: 1.45125rem; }

  footer {
    background: #535751; }
    footer .flexbox [class*="col-"]:first-child {
      padding-left: 5.6%; } }
/*--- $tablet-small 480px ---*/
@media screen and (min-width: 480px) and (max-width: 767px) {
  .list-logos span {
    width: 33% !important; } }
@media screen and (max-width: 768px) {
  .arrow-block {
    height: auto !important;
    margin-left: 0 !important;
    padding: 15px;
    text-align: center; }
    .arrow-block::before {
      display: none; }
    .arrow-block span i {
      right: -5px !important; }

  .info-block {
    text-align: center; }

  .modal-popup .container {
    height: auto; }

  footer .flexbox [class*="col-"]:first-child {
    padding-left: 9%; } }
/*--- $mobile-large 320px ---*/
@media screen and (min-width: 320px) and (max-width: 479px) {
  .banner-2 .flexbox [class*="col-"] {
    width: 100%; }

  .list-logos span {
    width: 50% !important; } }
@media screen and (max-width: 479px) {
  .price-table table tr:first-child {
    display: none; }
  .price-table table tr, .price-table table td {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap; }
  .price-table table tr {
    border: 1px solid rgba(0, 0, 0, 0.05);
    margin-bottom: 30px; }
  .price-table table td {
    border-bottom: none;
    text-align: center; }
  .price-table table td[data-title]::before {
    color: rgba(94, 93, 82, 0.75);
    content: attr(data-title);
    font-size: 1rem;
    line-height: 1;
    text-align: left;
    padding-top: 3px;
    text-align: center; }

  footer .flexbox [class*="col-"]:first-child {
    padding-left: 12%; } }
/*--- $mobile-small 240px ---*/
@media screen and (max-width: 319px) {
  .banner-2 .flexbox [class*="col-"]:first-child {
    text-align: center; }
  .banner-2 form {
    top: 0; }

  .list-logos span {
    width: 100% !important; } }

/*# sourceMappingURL=_marina.css.map */
