@charset "UTF-8";
/* line 80, icons/*.png */
.icons-sprite, .icons-chekmark, .icons-gears, .icons-gears_with_bg, .icons-phone_blue, .icons-phone_red {
  background-image: url('/images/icons-s359ce39310.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-chekmark {
  background-position: 0 0;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gears {
  background-position: 0 -11px;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-gears_with_bg {
  background-position: 0 -36px;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone_blue {
  background-position: 0 -86px;
}

/* line 84, ../../../Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/utilities/sprites/_base.scss */
.icons-phone_red {
  background-position: 0 -101px;
}

/* Zurab */
/* line 4, ../sass/_main.scss */
a:focus {
  outline: none;
}

/* line 8, ../sass/_main.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 14, ../sass/_main.scss */
strong {
  font-weight: 400;
}

/* line 18, ../sass/_main.scss */
body {
  background: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

/* line 26, ../sass/_main.scss */
p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.2;
}

/* line 32, ../sass/_main.scss */
h1,
h2,
h3,
h4 {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* line 40, ../sass/_main.scss */
.title {
  margin: 34px 0;
  font-size: 46px;
  line-height: 1.2;
  text-align: center;
  color: #535751;
}

/* services
==================================================*/
/* line 50, ../sass/_main.scss */
.services {
  background: #fbfbfc;
  display: table;
  width: 100%;
  margin-bottom: 24px;
  padding: 105px 0 56px;
  position: relative;
}
/* line 58, ../sass/_main.scss */
.services::after {
  background: url("../images/zub-top-light-gray.png") 0 0 repeat-x;
  content: '';
  width: 100%;
  height: 23px;
  position: absolute;
  top: 100%;
  left: 0;
}

/* line 69, ../sass/_main.scss */
.services__item {
  margin-bottom: 30px;
}

/* line 77, ../sass/_main.scss */
.services__title {
  margin-top: 10px;
  font-size: 36px;
  line-height: 1;
}

/* line 83, ../sass/_main.scss */
.services__title--lstCh {
  font-size: 30px;
  line-height: 1.4;
}

/* line 88, ../sass/_main.scss */
.services__characteristics {
  margin-left: 22px;
  margin-top: 30px;
  padding: 0;
  list-style-image: url("../images/icons/chekmark.png");
}
/* line 94, ../sass/_main.scss */
.services__characteristics li {
  padding: 5px 0;
}

/* correct
==================================================*/
/* line 101, ../sass/_main.scss */
.correct {
  overflow: hidden;
}

/* line 104, ../sass/_main.scss */
.correct___item {
  margin: 15px 0;
}

/* line 108, ../sass/_main.scss */
.correct__time {
  margin-top: 15px;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  line-height: 1.2;
  text-align: center;
}
/* line 114, ../sass/_main.scss */
.correct__time span {
  display: block;
  font-size: 18px;
  line-height: 1.2;
}

/* line 121, ../sass/_main.scss */
.correct__desc {
  margin-top: -5px;
  margin-bottom: 35px;
}
/* line 124, ../sass/_main.scss */
.correct__desc p {
  margin: 5px 0;
  font-size: 16px;
}

/* line 130, ../sass/_main.scss */
.more {
  font-size: 16px;
  line-height: 1.2;
  text-decoration: underline;
}

/* CORNER BLOCK
===================================================*/
/* line 138, ../sass/_main.scss */
.corner {
  overflow: hidden;
}

/* line 142, ../sass/_main.scss */
.corner__item {
  margin-bottom: 60px;
}

/* line 146, ../sass/_main.scss */
.corner__link {
  overflow: hidden;
  position: relative;
  display: block;
  margin-bottom: 30px;
}
/* line 152, ../sass/_main.scss */
.corner__link .corner__link--hover {
  background: #535751;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 22;
}
/* line 166, ../sass/_main.scss */
.corner__link .corner__zoom {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 170px;
  height: 48px;
  font-size: 18px;
  line-height: 48px;
  background: #4198d2;
  color: #fff;
  border-radius: 3px;
  text-align: center;
}
/* line 181, ../sass/_main.scss */
.corner__link img {
  height: auto;
  width: 100%;
}
/* line 188, ../sass/_main.scss */
.corner__link:hover .corner__zoom {
  top: 50%;
  left: 50%;
  margin-top: -24px;
  margin-left: -85px;
  display: block;
  z-index: 33;
}

/* error
====================================================*/
/* line 202, ../sass/_main.scss */
.error {
  overflow: hidden;
  position: relative;
}

/* line 207, ../sass/_main.scss */
.error__desc {
  overflow: hidden;
  background: #f96854;
  margin-bottom: 30px;
  padding: 30px;
  border-radius: 3px;
  columns: #fff;
}

/* line 216, ../sass/_main.scss */
.error__close {
  position: absolute;
  top: 30px;
  right: 45px;
  color: #fff;
}

/* line 223, ../sass/_main.scss */
.error__title {
  font-size: 24px;
  line-height: 1.2;
  color: #fff;
}

/* line 228, ../sass/_main.scss */
.error__cnt {
  margin: 5px 0 0;
  font-size: 14px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
}

/* line 235, ../sass/_main.scss */
address {
  color: #fff;
}

/* line 239, ../sass/_main.scss */
.error__close:hover {
  cursor: pointer;
}

/* line 243, ../sass/_main.scss */
.hiddenError {
  display: none;
}

/* reviews
===================================================*/
/* line 257, ../sass/_main.scss */
.reviews__item {
  margin-bottom: 30px;
}

/* line 261, ../sass/_main.scss */
.review__persone__name {
  margin: 20px 0 0 0;
  font-size: 24px;
  line-height: 1.2;
}

/* line 267, ../sass/_main.scss */
.review__persone__comment {
  margin: 5px 0;
  font-size: 16px;
  line-height: 1.2;
}

/* ╤Б╤В╨╕╨╗╨╕╨╖╨░╤Ж╨╕╤П ╤В╨╡╨╗╨╡╤Д╨╛╨╜╨░
====================================*/
/* line 276, ../sass/_main.scss */
.phone {
  padding-left: 50px;
}

/* line 279, ../sass/_main.scss */
.user_phone {
  position: relative;
}

/* line 282, ../sass/_main.scss */
.user_phone:before {
  content: "+38";
  display: block;
  height: 40px;
  color: #363636;
  position: absolute;
  top: 40px;
  left: 15px;
  font-size: 18px;
}

/* line 293, ../sass/_main.scss */
.phone::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
}

/* line 294, ../sass/_main.scss */
.phone::-moz-placeholder {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
}

/* line 295, ../sass/_main.scss */
.phone:-moz-placeholder {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
}

/* line 296, ../sass/_main.scss */
.phone:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
}

/* line 298, ../sass/_main.scss */
.form__name::-webkit-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

/* line 299, ../sass/_main.scss */
.form__name::-moz-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

/* line 300, ../sass/_main.scss */
.form__name:-moz-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

/* line 301, ../sass/_main.scss */
.form__name:-ms-input-placeholder {
  font-family: 'Roboto';
  font-size: 14px;
  font-style: italic;
  font-weight: 300;
}

/* ORDER
============================================*/
/* line 307, ../sass/_main.scss */
.ordered {
  align-items: center;
  background: #e9ebec none repeat scroll 0 0;
  display: flex;
  height: 100%;
  overflow-y: auto;
  width: 100%;
  padding: 25px 0;
}

/* line 318, ../sass/_main.scss */
.ordered__wrap {
  background: #fff none repeat scroll 0 0;
  padding: 40px 0;
  position: relative;
  width: 100%;
  margin: auto;
}
/* line 325, ../sass/_main.scss */
.ordered__wrap:after {
  background: transparent url("../images/zub-top.png") repeat-x scroll 0 0;
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 3;
}
/* line 336, ../sass/_main.scss */
.ordered__wrap:before {
  background: transparent url("../images/zub-bot.png") repeat-x scroll 0 0;
  bottom: 100%;
  content: "";
  height: 23px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 3;
}

/* line 348, ../sass/_main.scss */
.ordered__title {
  font-size: 40px;
  line-height: 1;
  font-weight: 900;
  color: #4098d2;
  margin: 0;
}

/* line 356, ../sass/_main.scss */
.ordered__sub-title {
  font-size: 14px;
  color: #535751;
  margin: 0;
}

/* line 362, ../sass/_main.scss */
.ordered__cnt {
  overflow: hidden;
  margin-top: 50px;
  padding: 40px 0;
  border: 1px solid #d7d7d6;
  border-radius: 3px;
}
/* line 369, ../sass/_main.scss */
.ordered__cnt h4 {
  font-size: 24px;
  line-height: 1.2;
  margin: 0;
}
/* line 375, ../sass/_main.scss */
.ordered__cnt p {
  font-size: 18px;
  line-height: 1.2;
}

/* line 381, ../sass/_main.scss */
.uCan {
  font-style: italic;
  font-size: 14px;
  line-height: 1.2;
  text-align: center;
}

/* line 388, ../sass/_main.scss */
.buttons {
  margin-top: 50px;
  margin-bottom: 20px;
  text-align: center;
}

/* line 394, ../sass/_main.scss */
.backHome {
  background: #000;
  display: block;
  margin: 0 auto;
}
/* line 399, ../sass/_main.scss */
.backHome:hover {
  color: #fff;
  text-decoration: none;
}

/* line 405, ../sass/_main.scss */
.ordered__call-back {
  font-size: 24px;
  line-height: 1;
  text-align: center;
  margin: 5px 0;
}

/* line 411, ../sass/_main.scss */
.ordered__phone-numbers {
  font-size: 30px;
  line-height: 1;
  text-align: center;
  margin: 5px 0;
}

/* line 419, ../sass/_main.scss */
.banner-3 h3 {
  color: #fff;
}

/* line 423, ../sass/_main.scss */
.order__wrap .container {
  display: table;
}

/* COLORS
============================================================*/
/* MIXINS
============================================================*/
/* RESET INPUTS
============================================================*/
/* line 7, ../sass/_marina.scss */
::-webkit-input-placeholder {
  opacity: 1;
}

/* line 8, ../sass/_marina.scss */
::-moz-placeholder {
  opacity: 1;
}

/* Firefox 19+ */
/* line 9, ../sass/_marina.scss */
:-moz-placeholder {
  opacity: 1;
}

/* Firefox 18- */
/* line 10, ../sass/_marina.scss */
:-ms-input-placeholder {
  opacity: 1;
}

/* line 12, ../sass/_marina.scss */
::-webkit-input-placeholder {
  color: #cabfbf;
  font-size: 143x;
  font-style: italic;
}

/* line 13, ../sass/_marina.scss */
::-moz-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic;
}

/* Firefox 19+ */
/* line 14, ../sass/_marina.scss */
:-moz-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic;
}

/* Firefox 18- */
/* line 15, ../sass/_marina.scss */
:-ms-input-placeholder {
  color: #cabfbf;
  font-size: 13px;
  font-style: italic;
}

/* line 17, ../sass/_marina.scss */
[type="search"], [type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
}

/* line 21, ../sass/_marina.scss */
[type="search"]::-webkit-search-decoration,
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-results-button,
[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* line 28, ../sass/_marina.scss */
[type=date]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none;
}

/* line 33, ../sass/_marina.scss */
[type=date]::-webkit-calendar-picker-indicator {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  display: none;
}

/* line 38, ../sass/_marina.scss */
input, textarea, button, select {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  border: none;
  display: block;
  color: #535751;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 15px;
  padding: 14px 15px;
  width: 100%;
}

/* line 54, ../sass/_marina.scss */
[type="submit"], [type="reset"], .btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

/* line 58, ../sass/_marina.scss */
[type="submit"], [type="reset"], button, .btn {
  background-color: #e75440;
  background-image: -webkit-linear-gradient(top, #e75440, #b02411);
  background-image: -moz-linear-gradient(top, #e75440, #b02411);
  background-image: -ms-linear-gradient(top, #e75440, #b02411);
  background-image: linear-gradient(to bottom, #e75440, #b02411);
  border: none;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  padding: 14px 15px;
}
/* line 70, ../sass/_marina.scss */
[type="submit"]:hover, [type="reset"]:hover, button:hover, .btn:hover {
  background-color: #fe5c46;
  background-image: -webkit-linear-gradient(top, #fe5c46, #c22813);
  background-image: -moz-linear-gradient(top, #fe5c46, #c22813);
  background-image: -ms-linear-gradient(top, #fe5c46, #c22813);
  background-image: linear-gradient(to bottom, #fe5c46, #c22813);
  cursor: pointer;
}

/* line 75, ../sass/_marina.scss */
button, .btn {
  display: inline-block;
}

/* line 77, ../sass/_marina.scss */
.select {
  background: #fff;
  display: block;
  margin-bottom: 15px;
  position: relative;
  z-index: 2;
}
/* line 84, ../sass/_marina.scss */
.select::before, .select::after {
  content: '';
  position: absolute;
  z-index: -1;
}
/* line 90, ../sass/_marina.scss */
.select::before {
  background: rgba(83, 87, 81, 0.7);
  width: 1px;
  height: 100%;
  top: 0;
  right: 37px;
}
/* line 98, ../sass/_marina.scss */
.select::after {
  border-width: 7px 5px 0 5px;
  border-style: solid;
  border-color: rgba(83, 87, 81, 0.7) transparent;
  width: 0;
  height: 0;
  top: 50%;
  right: 14px;
  margin-top: -3px;
}
/* line 109, ../sass/_marina.scss */
.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  background: none;
  border: 0px none;
  cursor: pointer;
  margin-bottom: 0;
  padding: 14px 45px 14px 15px;
}
/* line 116, ../sass/_marina.scss */
.select select::-ms-expand {
  display: none;
}
/* line 118, ../sass/_marina.scss */
.select select option {
  background: none;
  border: 0px none;
  width: 100%;
}

/* line 125, ../sass/_marina.scss */
textarea {
  resize: none;
}

/* line 128, ../sass/_marina.scss */
label {
  display: block;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 3px;
}

/* END RESET INPUTS
============================================================*/
/* line 140, ../sass/_marina.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

/* line 147, ../sass/_marina.scss */
.flexbox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}

/* line 152, ../sass/_marina.scss */
.footnote {
  font-size: 11px;
}

/* line 156, ../sass/_marina.scss */
form {
  background: #535751;
  padding: 10px 30px;
}
/* line 160, ../sass/_marina.scss */
form [type="submit"] {
  margin: 15px 0;
}

/* line 165, ../sass/_marina.scss */
th {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
}

/* line 171, ../sass/_marina.scss */
th, td {
  border-bottom: 1px solid rgba(83, 87, 81, 0.12);
  color: #535751;
  padding: 8px 15px;
}

/* line 177, ../sass/_marina.scss */
td {
  font-size: 18px;
  font-weight: 400;
}

/* line 183, ../sass/_marina.scss */
tr:nth-child(2n) {
  background: rgba(83, 87, 81, 0.02);
}

/* line 187, ../sass/_marina.scss */
.banner-1, .banner-2, .banner-3, footer {
  background: #3f9ad4 url("../images/ban-1.png") center 15px no-repeat;
  display: table;
  width: 100%;
  padding-top: 1px;
  position: relative;
}
/* line 194, ../sass/_marina.scss */
.banner-1::before, .banner-2::before, .banner-3::before, footer::before, .banner-1::after, .banner-2::after, .banner-3::after, footer::after {
  background: url("../images/zub-bot-light-gray.png") 0 0 repeat-x;
  content: '';
  width: 100%;
  height: 23px;
  position: absolute;
  left: 0;
  z-index: 3;
}
/* line 205, ../sass/_marina.scss */
.banner-1::before, .banner-2::before, .banner-3::before, footer::before {
  background: url("../images/zub-top.png") 0 100% repeat-x;
  top: 0;
  display: none;
}
/* line 211, ../sass/_marina.scss */
.banner-1::after, .banner-2::after, .banner-3::after, footer::after {
  bottom: 0;
}
/* line 215, ../sass/_marina.scss */
.banner-1 .flexbox, .banner-2 .flexbox, .banner-3 .flexbox, footer .flexbox {
  justify-content: flex-end;
}
/* line 219, ../sass/_marina.scss */
.banner-1 h1, .banner-2 h1, .banner-3 h1, footer h1 {
  color: #fff;
  font-size: 50px;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: 10px;
  text-shadow: 0 0 1px #256f9f;
  text-align: center;
}
/* line 230, ../sass/_marina.scss */
.banner-1 h1 span, .banner-2 h1 span, .banner-3 h1 span, footer h1 span {
  display: block;
  font-size: 30px;
}
/* line 238, ../sass/_marina.scss */
.banner-1 h2, .banner-2 h2, .banner-3 h2, footer h2 {
  font-size: 46px;
  font-weight: 300;
  line-height: 1;
  text-shadow: 0 0 1px #256f9f;
}
/* line 247, ../sass/_marina.scss */
.banner-1 h3, .banner-2 h3, .banner-3 h3, footer h3 {
  font-size: 36px;
  font-weight: 300;
  line-height: 1;
}
/* line 255, ../sass/_marina.scss */
.banner-1 [class*="col-"], .banner-2 [class*="col-"], .banner-3 [class*="col-"], footer [class*="col-"] {
  position: relative;
  float: none;
}
/* line 260, ../sass/_marina.scss */
.banner-1 form, .banner-2 form, .banner-3 form, footer form {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.38);
  z-index: 4;
  padding: 30px;
  position: relative;
  top: 39px;
}
/* line 267, ../sass/_marina.scss */
.banner-1 form .footnote, .banner-2 form .footnote, .banner-3 form .footnote, footer form .footnote {
  color: #fff;
  text-align: center;
}
/* line 273, ../sass/_marina.scss */
.banner-1 .man-with-washing, .banner-2 .man-with-washing, .banner-3 .man-with-washing, footer .man-with-washing {
  position: relative;
}
/* line 276, ../sass/_marina.scss */
.banner-1 .man-with-washing .z-top, .banner-2 .man-with-washing .z-top, .banner-3 .man-with-washing .z-top, footer .man-with-washing .z-top {
  position: absolute;
  bottom: 0;
  right: -165px;
  z-index: 2;
}
/* line 283, ../sass/_marina.scss */
.banner-1 .man-with-washing .z-bot, .banner-2 .man-with-washing .z-bot, .banner-3 .man-with-washing .z-bot, footer .man-with-washing .z-bot {
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 1;
}
/* line 291, ../sass/_marina.scss */
.banner-1 .arrow-block, .banner-2 .arrow-block, .banner-3 .arrow-block, footer .arrow-block {
  background: #fff;
  color: #535751;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 0.98;
  height: 106px;
  margin-top: 58px;
  margin-left: -7px;
  margin-bottom: 30px;
  padding: 15px 15px 15px 5px;
  position: relative;
}
/* line 307, ../sass/_marina.scss */
.banner-1 .arrow-block::before, .banner-2 .arrow-block::before, .banner-3 .arrow-block::before, footer .arrow-block::before {
  border-top: 2.249em solid transparent;
  border-right: 1.5em solid #fff;
  border-bottom: 2.249em solid transparent;
  width: 0;
  height: 0;
  content: '';
  position: absolute;
  top: 0;
  right: 100%;
  z-index: 5;
}
/* line 320, ../sass/_marina.scss */
.banner-1 .arrow-block span, .banner-2 .arrow-block span, .banner-3 .arrow-block span, footer .arrow-block span {
  display: block;
  color: #e75440;
  font-size: 30px;
  text-transform: uppercase;
}
/* line 326, ../sass/_marina.scss */
.banner-1 .arrow-block span i, .banner-2 .arrow-block span i, .banner-3 .arrow-block span i, footer .arrow-block span i {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: #535751;
  display: inline-block;
  font-size: 24px;
  padding: 12px;
  position: absolute;
  right: 22px;
  top: -19px;
}
/* line 339, ../sass/_marina.scss */
.banner-1 .info-block, .banner-2 .info-block, .banner-3 .info-block, footer .info-block {
  color: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 1.2;
  text-shadow: 0 0 1px #256f9f;
}
/* line 349, ../sass/_marina.scss */
.banner-1 .info-block .tel, .banner-2 .info-block .tel, .banner-3 .info-block .tel, footer .info-block .tel {
  display: block;
  font-size: 40px;
}
/* line 356, ../sass/_marina.scss */
.banner-1 .light, .banner-2 .light, .banner-3 .light, footer .light, .banner-1 .bold, .banner-2 .bold, .banner-3 .bold, footer .bold {
  color: #535751;
}
/* line 360, ../sass/_marina.scss */
.banner-1 .light, .banner-2 .light, .banner-3 .light, footer .light {
  font-size: 22px;
  font-weight: 300;
  line-height: 1.18;
}
/* line 368, ../sass/_marina.scss */
.banner-1 .bold, .banner-2 .bold, .banner-3 .bold, footer .bold {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.12;
}

/* line 378, ../sass/_marina.scss */
.banner-2 {
  background: #e9ebec url("../images/ban-2.png") 0 15px no-repeat;
  margin: 82px 0 0;
  padding: 1px 0 12px;
}
/* line 384, ../sass/_marina.scss */
.banner-2::before {
  top: 0;
  display: block;
}
/* line 389, ../sass/_marina.scss */
.banner-2::after {
  background: url("../images/zub-bot.png") 0 0 repeat-x;
}
/* line 393, ../sass/_marina.scss */
.banner-2 .flexbox {
  align-items: center;
}
/* line 397, ../sass/_marina.scss */
.banner-2 form {
  top: -30px;
}
/* line 401, ../sass/_marina.scss */
.banner-2 h3 {
  color: #e75440;
  margin-top: 20px;
}
/* line 406, ../sass/_marina.scss */
.banner-2 .light {
  margin-bottom: 40px;
}

/* line 411, ../sass/_marina.scss */
.banner-3 {
  background: #3f9ad4 url("../images/ban-3.png") center 15px repeat;
  color: #fff;
  text-align: center;
  padding: 24px 0 70px;
}
/* line 418, ../sass/_marina.scss */
.banner-3::before {
  top: 0;
  display: block;
}
/* line 423, ../sass/_marina.scss */
.banner-3 .flexbox {
  justify-content: center;
}
/* line 427, ../sass/_marina.scss */
.banner-3 h3 {
  text-shadow: 0 0 1px #256f9f;
}
/* line 431, ../sass/_marina.scss */
.banner-3 .bold {
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.2;
}
/* line 440, ../sass/_marina.scss */
.banner-3 .bold span {
  display: block;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 36px;
  font-weight: 400;
  text-shadow: 0 0 1px #256f9f;
}
/* line 451, ../sass/_marina.scss */
.banner-3 .footnote.sub {
  font-size: 14px;
}
/* line 455, ../sass/_marina.scss */
.banner-3 .footnote {
  font-size: 12px;
}

/* line 460, ../sass/_marina.scss */
footer {
  background: #535751 url("../images/ban-footer.png") center 15px repeat;
  color: #fff;
  padding: 95px 0 1px;
}
/* line 466, ../sass/_marina.scss */
footer::before {
  top: 0;
  display: block;
}
/* line 471, ../sass/_marina.scss */
footer::after {
  display: none;
}
/* line 475, ../sass/_marina.scss */
footer .flexbox {
  align-items: center;
}
/* line 479, ../sass/_marina.scss */
footer form {
  box-shadow: 0 0 5px transparent;
  top: 0;
}
/* line 485, ../sass/_marina.scss */
footer h3 span {
  color: #e75440;
  font-size: 60px;
  line-height: 1.2;
}
/* line 492, ../sass/_marina.scss */
footer .light, footer .bold {
  color: #fff;
}
/* line 496, ../sass/_marina.scss */
footer .fa {
  font-size: 24px;
}
/* line 500, ../sass/_marina.scss */
footer [class*="col-"]:last-child {
  font-size: 16px;
  font-weight: 300;
}
/* line 504, ../sass/_marina.scss */
footer [class*="col-"]:last-child.padd {
  padding-left: 7%;
}
/* line 508, ../sass/_marina.scss */
footer [class*="col-"]:last-child .links {
  -moz-column-count: 2;
  -moz-column-gap: 15px;
  -webkit-column-count: 2;
  -webkit-column-gap: 15px;
  column-count: 2;
  column-gap: 15px;
}
/* line 511, ../sass/_marina.scss */
footer [class*="col-"]:last-child .links a {
  display: block;
  color: #fff;
  text-decoration: underline;
}
/* line 516, ../sass/_marina.scss */
footer [class*="col-"]:last-child .links a:hover {
  color: rgba(255, 255, 255, 0.7);
}
/* line 523, ../sass/_marina.scss */
footer .copyright {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-between;
  font-size: 12px;
  margin: 30px 0 10px;
}
/* line 530, ../sass/_marina.scss */
footer .copyright a {
  color: #3f9ad4;
  text-decoration: underline;
}
/* line 534, ../sass/_marina.scss */
footer .copyright a:hover {
  color: rgba(82, 200, 255, 0.7);
}

/* line 539, ../sass/_marina.scss */
.price-table {
  display: table;
  width: 100%;
  padding: 25px 0 50px;
}
/* line 544, ../sass/_marina.scss */
.price-table h2 {
  color: #535751;
  font-size: 46px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 22px;
}
/* line 554, ../sass/_marina.scss */
.price-table h2 + p {
  color: #3f9ad4;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 42px;
}
/* line 563, ../sass/_marina.scss */
.price-table table {
  width: 100%;
  max-width: 970px;
  margin-left: auto;
  margin-right: auto;
}
/* line 569, ../sass/_marina.scss */
.price-table table a {
  color: #3f9ad4;
  font-size: 14px;
  weight: 300;
  white-space: nowrap;
}
/* line 575, ../sass/_marina.scss */
.price-table table a:hover {
  color: #3580b1;
  text-decoration: none;
}
/* line 580, ../sass/_marina.scss */
.price-table table a i {
  font-size: 18px;
  margin-right: 7px;
}
/* line 587, ../sass/_marina.scss */
.price-table .free {
  color: #e75440;
}
/* line 591, ../sass/_marina.scss */
.price-table a.free:hover {
  color: #c14635;
}

/* line 596, ../sass/_marina.scss */
.logos {
  display: table;
  width: 100%;
  padding: 12px 0 96px;
}
/* line 601, ../sass/_marina.scss */
.logos h2 {
  color: #535751;
  font-size: 46px;
  font-weight: 300;
  line-height: 1;
  text-align: center;
  margin-bottom: 42px;
}
/* line 611, ../sass/_marina.scss */
.logos h2 + p {
  color: #3f9ad4;
  font-size: 18px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 42px;
}
/* line 620, ../sass/_marina.scss */
.logos .list-logos {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
}
/* line 626, ../sass/_marina.scss */
.logos .list-logos span {
  padding: 10px;
  text-align: center;
  width: 16.666%;
}
/* line 631, ../sass/_marina.scss */
.logos .list-logos span a {
  display: inline-block;
}
/* line 635, ../sass/_marina.scss */
.logos .list-logos span img {
  max-width: 100%;
  width: 100%;
}

/* line 643, ../sass/_marina.scss */
.modal-popup {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow-y: auto;
}
/* line 653, ../sass/_marina.scss */
.modal-popup .container {
  height: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
}
/* line 659, ../sass/_marina.scss */
.modal-popup .flexbox {
  justify-content: center;
  align-items: center;
  height: 100%;
}
/* line 665, ../sass/_marina.scss */
.modal-popup h4 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
  margin: 0 0 15px;
}
/* line 672, ../sass/_marina.scss */
.modal-popup h4 span {
  display: block;
  font-size: 18px;
  padding-right: 15px;
  position: relative;
}
/* line 678, ../sass/_marina.scss */
.modal-popup h4 span .fa-close {
  color: #fff;
  font-size: 24px;
  position: absolute;
  right: 0;
  bottom: -5px;
}
/* line 685, ../sass/_marina.scss */
.modal-popup h4 span .fa-close:hover {
  opacity: 0.7;
  text-decoration: none;
}
/* line 693, ../sass/_marina.scss */
.modal-popup form {
  background: #4198d2;
  /*[type="submit"] {
      margin: 15px 0;
  }*/
}
/* line 700, ../sass/_marina.scss */
.modal-popup form .footnote {
  color: #fff;
  font-size: 12px;
}

/* line 707, ../sass/_marina.scss */
.space {
  height: 110px;
  background: violet;
}
